
.box-verMas {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    margin: 10px;
    padding: 40px;
    height: 90px;
}

.ver {
    visibility: visible;
    color: white;
    background-color: red;
}

.botones {
    height: 35px;
}

.image   {
    height: 7em;
}